@model TP_Labo4.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>@Model!.Titulo</h1>

<div class="row">
    <div class="col-md-8">
        <p><strong>Estreno:</strong> @Model.FechaEstreno.ToString("dd/MM/yyyy")</p>
        <p><strong>Género:</strong> @Model.Genero?.Descripcion</p>
        <p><strong>Link Trailer:</strong> <a href="@Model.Trailer" target="_blank">@Model.Trailer</a></p>
        <h3>Resumen</h3>
        <p>@Model.Resumen</p>
        <h3>Actores</h3>
        <ul>
            @foreach (var peliculaActor in Model.PeliculaActores!)
            {
                <li>
                    <h4>@peliculaActor.Actor!.Nombre</h4>
                    <img src="~/img/images/@peliculaActor.Actor.Foto" alt="@peliculaActor.Actor.Nombre" width="100" />
                </li>               
            }
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/img/images/@Model.Portada" class="img-fluid" alt="@Model.Titulo" />
    </div>
</div>

<div>   
    <a asp-action="Index">Volver a la lista</a>
</div>
